node_modules/
npm-debug.log*


# Playwright artifacts
test-results/
playwright-report/
blob-report/
trace.zip

# Env & secrets
.env
*.pem
*.p12

# OS/IDE
.DS_Store
.idea/
.vscode/


ts_experiments/

EOF